# =========================
# PYTHON
# =========================

venv/
__pycache__/
*.pyc

# =========================
# ENV
# =========================

.env

# =========================
# SQLITE
# =========================

*.db
*.sqlite3

# =========================
# FLASK
# =========================

instance/

# =========================
# NODE
# =========================

node_modules/

# =========================
# VSCODE
# =========================

.vscode/

# =========================
# MAC / WINDOWS
# =========================

.DS_Store
Thumbs.db